<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.philj56.gbcc">

	<uses-feature
		android:glEsVersion="0x00030000"
		android:required="true" />

	<!-- Hardware features -->
	<uses-feature
		android:name="android.hardware.audio.low_latency"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.camera"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.camera.any"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.sensor.accelerometer"
		android:required="false" />

	<uses-permission
		android:name="android.permission.VIBRATE" />
	<uses-permission
		android:name="android.permission.CAMERA" />
	
	<application
		android:allowBackup="true"
		android:backupAgent=".SaveBackupAgent"
		android:fullBackupContent="@xml/backup"
		android:fullBackupOnly="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppThemeDayNight">

		<activity android:name=".GLActivity"
			android:parentActivityName="MainActivity"
			android:theme="@style/AppThemeDayNight.Fullscreen"/>

		<activity android:name=".SettingsActivity"
			android:parentActivityName="MainActivity"
            android:label="@string/settings_title"
			android:theme="@style/SettingsThemeDayNight"/>

		<activity android:name=".ArrangeActivity"
			android:parentActivityName=".SettingsActivity"
			android:theme="@style/AppThemeDayNight.Fullscreen"/>

        <activity android:name=".LicenseActivity"
            android:parentActivityName=".SettingsActivity"
			android:label="@string/settings_license"/>

		<activity android:name=".MainActivity"
			android:theme="@style/AppThemeDayNight.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
